<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="teacherActionSample" class="com.ywx.action.sample.TeacherActionSample">
        <property name="teacherServiceSample" ref="teacherServiceSample"/>
    </bean>

    <bean id="depAction" class="com.ywx.erp.action.DepAction" scope="prototype">
        <property name="depService" ref="depService"/>
    </bean>

    <bean id="empAction" class="com.ywx.erp.action.EmpAction" scope="prototype">
        <property name="empService" ref="empService"/>
    </bean>

    <bean id="goodsAction" class="com.ywx.erp.action.GoodsAction" scope="prototype">
        <property name="goodsService" ref="goodsService"/>
    </bean>

    <bean id="goodstypeAction" class="com.ywx.erp.action.GoodstypeAction" scope="prototype">
        <property name="goodstypeService" ref="goodstypeService"/>
    </bean>

    <bean id="loginAction" class="com.ywx.erp.action.LoginAction" scope="prototype">
        <property name="empService" ref="empService"/>
    </bean>

    <bean id="menuAction" class="com.ywx.erp.action.MenuAction" scope="prototype">
        <property name="menuService" ref="menuService"/>
    </bean>

    <bean id="supplierAction" class="com.ywx.erp.action.SupplierAction" scope="prototype">
        <property name="supplierService" ref="supplierService"/>
    </bean>

    <bean id="ordersAction" class="com.ywx.erp.action.OrdersAction" scope="prototype">
        <property name="ordersService" ref="ordersService"/>
        <property name="supplierService" ref="supplierService"/>
        <property name="empService" ref="empService"/>
        <property name="waybillWs" ref="waybillWsClient"/>
    </bean>

    <bean id="orderdetailAction" class="com.ywx.erp.action.OrderdetailAction" scope="prototype">
        <property name="orderdetailService" ref="orderdetailService"/>
    </bean>

    <bean id="storeAction" class="com.ywx.erp.action.StoreAction" scope="prototype">
        <property name="storeService" ref="storeService"/>
        <property name="empService" ref="empService"/>
    </bean>

    <bean id="storedetailAction" class="com.ywx.erp.action.StoredetailAction" scope="prototype">
        <property name="storedetailService" ref="storedetailService"/>
        <property name="goodsService" ref="goodsService"/>
        <property name="storeService" ref="storeService"/>
    </bean>

    <bean id="storeoperAction" class="com.ywx.erp.action.StoreoperAction" scope="prototype">
        <property name="storeoperService" ref="storeoperService"/>
        <property name="empService" ref="empService"/>
        <property name="storeService" ref="storeService"/>
        <property name="goodsService" ref="goodsService"/>
    </bean>

    <bean id="reportAction" class="com.ywx.erp.action.ReportAction" scope="prototype">
        <property name="reportService" ref="reportService"/>
    </bean>

    <bean id="roleAction" class="com.ywx.erp.action.RoleAction" scope="prototype">
        <property name="roleService" ref="roleService"/>
    </bean>

</beans>