<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- 定义加载资源文件 -->
    <!--<context:property-placeholder location="classpath:redis.properties" />-->

    <!-- redis 单机资源池 -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig" />
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig" />
        <constructor-arg index="1" value="192.168.0.106" />
        <constructor-arg index="2" value="6379" />
        <constructor-arg index="3" value="1000000" />
        <constructor-arg index="4" value="Over12340" />
    </bean>

    <bean id="jedisService" class="com.ywx.erp.service.jedis.JedisService" >
        <property name="jedisPool" ref="jedisPool" />
    </bean>

</beans>