<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">  
	
	<!-- 定义一个任务类 -->
	<bean id="mailJob" class="com.ywx.erp.service.job.MailJob">
		<property name="storeService" ref="storeService" />
	</bean>

	<!-- 任务类描述 -->
	<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的哪个类 -->
		<property name="targetObject" ref="mailJob" />
		<!-- 调用的是哪个方法 -->
		<property name="targetMethod" value="sendStoreWarnMail" />
	</bean>

	<!-- 触发器  -->
	<bean id="mailTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="jobDetail" />
		<!-- cron：7子表达式 -->
		<property name="cronExpression" value="0 0 22 * * ? *" />
		<!--<property name="cronExpression" value="0,10,20,30,40,50 * * * * ? *" />-->
	</bean>

	<!-- 任务调度管理容器 -->
	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >
		<property name="triggers">
			<list>
				<ref bean="mailTrigger"/>
			</list>
		</property>
	</bean>
	
</beans>
	
